.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
  /* background-color:; */
}

.logoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoImg {
  /* width: 34px; */
  width: 10%;
  margin-right: 6px;
}

.logoTitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.loginBtn {
  width: 80px;
  height: 36px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 12%;
  font-size: 1rem;
}
